

p{
    color: black;
  }
  .logo
{
    height:118px;
    width:130px;
    margin-left:100px;
}
.header
{
    height:120px;
    width:100%;
    background: linear-gradient(45deg,#112b4a 0%, rgb(18, 177, 209) 100%);
    
}
a{
  text-decoration: none;color: white;
}
.heading
{
    color:white; 
}
.fl
{
    float: left;
}
.ffs
{
    font-family: sans-serif;
}
.box9
{
  background:white; color: #334656;border: 1px solid #ddd; height:28px; width:28px; border-radius: 50%;
  box-shadow: 0px 0px 5px #cccccc57;font-size:15px; border: none;
}
.box9:hover
{
  background:#334656; color:white ;border: 1px solid #ddd; height:28px; width:28px; border-radius: 50%;
  box-shadow: 0px 0px 5px #cccccc57;font-size:15px;border: none;
}

.bg1
{
    background-color: white;
   
}

.bxs
{
    background-color: white;
}
.bxs:hover
{
    box-shadow: silver;
}
.form {
    margin-top: 0px;
  }
  
  .form .input 
  {
    width: 70%;
    background: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top:10px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
  }
  .form .input1
  {
    width: 70%;
    background: white;
    border: none;
    /* padding: 10px 10px; */
    border-radius: 10px;
    margin-top:10px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
  }

  .form .login-button {
    display: block;
    width: 30%;
    font-weight: bold;
    background:  linear-gradient(45deg,#f5f6f7 0%, rgb(244, 247, 248) 100%);
    color:#112b4a;
    padding-block: 8px;
  
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
  }
  
  .form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
  }

  .ef
  {
   color:white; 
  }
 .ef:hover
 {
    /* color:lightgray; */
    text-decoration: underline;
 }

 .menu{
  height:450px;width:600px;background-color:white;z-index: 999;position: absolute;margin-left: 120px;display: none;
 }

 .menu1{
  height:380px;width:600px;background-color:white;z-index: 999;position: absolute;margin-left: 240px;display: none;
 }

 .ab
 {
  height:25px;
  width:100%;
  border: none;
  font-size:14px;
  background-color: white;
  color: black;
 }
 .ab:hover
 {
  height:25px;
  width:100%;
  border: none;
  font-size:14px;
  background-color: white;
  color:red
 }


